<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div [ngBusy]="busy">
                <h2 class="page-header">Edit Users</h2>


                <div class="form-group">
                    <label class="control-label" for="Code">User :</label> *
                    <input type="text" placeholder="Enter User" [(ngModel)]="data.User" readonly class="form-control" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Password">Password :</label> *
                    <input type="password" placeholder="Enter Password" [(ngModel)]="data.Password" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Name">Full Name :</label>
                    <input type="text" placeholder="Enter Fullname" [(ngModel)]="data.Fullname" class="form-control custom-control" required/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Group">Group :</label> *
                    <select class="form-control" [(ngModel)]="data.Group" required>
                      <option selected value="">Choose...</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                  </select>
                </div>

                <div class="form-group">
                    <button type="button" id="save" class="btn btn-success" (click)="modalUpdate()">SAVE</button>

                    <button type="button" id="delete" class="btn btn-danger" (click)="modalDelete()">DELETE</button>

                    <button type="button" id="back" class="btn btn-primary" (click)="onBack()">BACK</button>
                </div>

                <modal #updateModal>
                    <modal-header [show-close]="true">
                        <h4 class="modal-title">Warning !!</h4>
                    </modal-header>
                    <modal-body>
                        Do you want Update Data : {{data.User}}
                    </modal-body>
                    <modal-footer>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="save(data.IDUsers)">OK</button>
                    </modal-footer>
                </modal>

                <modal #deleteModal>
                    <modal-header [show-close]="true">
                        <h4 class="modal-title">Warning !!</h4>
                    </modal-header>
                    <modal-body>
                        Do you want Delete Data : {{data.User}}
                    </modal-body>
                    <modal-footer>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="delete(data.IDUsers)">OK</button>
                    </modal-footer>
                </modal>
    
                <modal #ModalRequired>
                    <modal-header [show-close]="true">
                        <h4 class="modal-title">Warning !!</h4>
                    </modal-header>
                    <modal-body>
                        Please Enter Required Data !!
                    </modal-body>
                    <modal-footer>
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </modal-footer>
                </modal>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->