<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

            <div [ngBusy]="busy">
                <h2 class="page-header">Hotel Information</h2>


                <div *ngFor="let data of HotelInfo ">
                    <div *ngIf="data">
                        <div class="form-group">
                            <label class="control-label" for="Code">Code :</label>
                            <input type="text" [(ngModel)]="data.Code" name="Code" placeholder="Enter Code" class="form-control custom-control" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Name">Name :</label>
                            <input type="text" [(ngModel)]="data.Name" name="Name" placeholder="Enter Name" class="form-control custom-control" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Address">Address :</label>
                            <textarea class="form-control custom-control" [(ngModel)]="data.Address" name="Address" placeholder="Enter Address" rows="4"
                                style="resize:none" required></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Logo">Logo :</label>
                            <input type="file" name="file" accept="image/*" (change)="onChange($event)" placeholder="Upload file..." required><br>
                            <img src="{{data.Logo}}" class="img-responsive center-block" />
                        </div>
                        <div class="form-group">
                            <button type="button" id="save" class="btn btn-success" (click)="modalUpdate()">SAVE</button>
                        </div>

                        <modal #updateModal>
                            <modal-header [show-close]="true">
                                <h4 class="modal-title">Warning !!</h4>
                            </modal-header>
                            <modal-body>
                                Do you want Update Data : {{data.Name}}
                            </modal-body>
                            <modal-footer>
                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
                                <button type="button" class="btn btn-primary" (click)="update()">SAVE</button>
                            </modal-footer>
                        </modal>

                    </div>

                    <div *ngIf="!data">
                        <div class="form-group">
                            <label class="control-label" for="Code">Code :</label>
                            <input type="text" name="Code" [(ngModel)]="AddHotelInfo.Code" placeholder="Enter Code" class="form-control custom-control"
                                required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Name">Name :</label>
                            <input type="text" name="Name" [(ngModel)]="AddHotelInfo.Name" placeholder="Enter Name" class="form-control custom-control"
                                required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Address">Address :</label>
                            <textarea class="form-control custom-control" [(ngModel)]="AddHotelInfo.Address" name="Address" placeholder="Enter Address"
                                rows="4" style="resize:none" required></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Logo">Logo :</label>
                            <input type="file" name="file" accept="image/*" (change)="onChangeSave($event)" placeholder="Upload file..." required><br>
                            <img [src]="imageSrc" [class.loaded1]="imageLoaded" class="img-responsive center-block" />
                        </div>
                        <div class="form-group">
                            <button type="button" id="save" class="btn btn-success" (click)="modalInsert()">SAVE</button>
                        </div>

                        <modal #insertModal>
                            <modal-header [show-close]="true">
                                <h4 class="modal-title">Warning !!</h4>
                            </modal-header>
                            <modal-body>
                                Do you want Insert Data : {{HotelInfo.Name}}
                            </modal-body>
                            <modal-footer>
                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
                                <button type="button" class="btn btn-primary" (click)="save()">SAVE</button>
                            </modal-footer>
                        </modal>

                    </div>



                </div>


            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->